<!-- begin author bio -->
<section class="post-author">
  <div class="container">
    <p class="post-author__eyebrow">About the Author</p>
    <div class="post-author__inner">
      <div class="post-author__photo-wrap">
        {% if site.data.settings.author.author__avatar %}
        <img class="post-author__photo" src="{{ site.baseurl }}{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}" width="200" height="200" loading="lazy">
        {% endif %}
        <p class="post-author__photo-caption">// {{ site.data.settings.author.author__name | upcase }} &middot; SPOONIE</p>
      </div>
      <div class="post-author__content">
        <h2 class="post-author__heading">Hi, I'm <em>{{ site.data.settings.author.author__name }}.</em></h2>
        <p class="post-author__bio">{{ site.data.settings.author.author__bio }}</p>
        <div class="post-author__links">
          {% for social in site.data.settings.social %}
          <a href="{{ social.link }}" target="_blank" rel="noopener" class="post-author__social-link" aria-label="{{ social.name }}">
            <i class="{{ social.icon }}"></i> {{ social.name }}
          </a>
          {% endfor %}
          <a href="{{ site.baseurl }}/about/" class="post-author__more">More about {{ site.data.settings.author.author__name }} &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author bio -->
