<!-- begin blog -->
<section class="section blog animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner">
  
        {% if site.data.settings.blog__categories %}
        <div class="blog-filters">

          <div class="blog-filters__header">
            <h2 class="blog-filters__title">Browse by <em class="blog-filters__title--accent">category</em></h2>
          </div>

          <div class="blog-filters__pills">
            {% for cat in site.data.settings.blog__categories %}
              <a class="blog-filter{% if cat.featured %} blog-filter--featured{% endif %}"
                 href="{{ '/tags/' | relative_url }}?tag={{ cat.tag }}"
                 style="--pill-color: {{ cat.color }}">
                <span class="blog-filter__dot"></span>
                {% if cat.featured %}★ {% endif %}{{ cat.title }}
                <span class="blog-filter__count">{{ site.tags[cat.tag].size | default: 0 }}</span>
              </a>
            {% endfor %}
          </div>

        </div>
        {% endif %}
  
          <div class="row">
            {% if site.posts.size > 0 %}
              {% for post in site.posts offset:0 limit:3 %}
                {% include article.html %}
              {% endfor %}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section__navigation">
    <a href="{{ '/blog' | relative_url }}" class="button button--primary section-button">See all</a>
  </div>
</section>
<!-- end blog -->