<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <a class="skip-to-content" href="#main-content">Skip to main content</a>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" id="main-content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include footer.html %}

  <script src="{{ site.baseurl }}/js/scripts.js" defer></script>
  <script src="{{ site.baseurl }}/js/common.js" defer></script>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//twilas11.sg-host.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo -->
</body>

</html>